:root {
  --primary-dark-color: #811a1e ;
  --secondary-dark-color: #343434;
  --tertiary-dark-color: #ce9a00;
  --quaternary-dark-color: black;
  --quinary-dark-color: #747474;

  --primary-light-color: #e78185 ;
  --secondary-light-color: #d9d9d9;
  --tertiary-light-color: #ffef9a;
  --quaternary-light-color: white;
}

@font-face {
  font-family: 'Europa';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/Europa-Regular.eot), url(../fonts/Europa-Regular.svg),
  url(../fonts/Europa-Regular.ttf), url(../fonts/Europa-Regular.woff),
  url(../fonts/Europa-Regular.woff2);
}

@font-face {
  font-family: 'Europa';
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/Europa-Bold.eot), url(../fonts/Europa-Bold.svg),
  url(../fonts/Europa-Bold.ttf), url(../fonts/Europa-Bold.woff),
  url(../fonts/Europa-Bold.woff2);
}

body { 
  display: block;
  position: relative;
  min-height: 100vh; 
  font-family: 'Europa', Arial,sans-serif;
  font-size: 16px;
  font-weight: 400;
  margin: 0;

}

main {
  padding-bottom: 417px;
}

.content {
  background-color: inherit;
  margin: 0 auto;
  max-width: 90vw;
  padding: 30px 20px 70px;
  overflow: hidden;
}

.index h1 {
  font-size: 50px;
}

.index p {
  width: 75%;
  margin: 0 auto;
  line-height: 1.625em;
  font-size: 25px;
}
.bkground1 {
  background-color: var(--secondary-light-color);
}

.bkground2 {
  background-color: var(--quaternary-light-color);
  color: var(--quinary-dark-color);
}

.bkground3 {
  background: var(--primary-light-color);
  
}

.center {
  text-align: center;
}
.youtubeContainer {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%; 
}
.youtubeContainer iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* Remove outline for non-keyboard :focus */
*:focus:not(.focus-visible) {
  outline: none;
}

/* Optional: Customize .focus-visible */
.focus-visible {
  outline-color: lightgreen;
}
.prgsIndex {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pgmCards {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  padding-bottom: 50px;
}

.pgmImg {
  height: 250px;
}
.pgmImg img{
  height: 250px;
  width: 250px;
  object-fit: cover;
  border-radius: 10px 10px 0 0;
}

.pgmText {
  padding: 15px 7px;
  font-size: 24px;
  background-color: var(--primary-dark-color);
  color: var(--quaternary-light-color);
  border: var(--primary-dark-color) solid 2px;
  border-radius: 0 0 10px 10px;
}