:root {
  --primary-dark-color: #811a1e ;
  --secondary-dark-color: #343434;
  --tertiary-dark-color: #ce9a00;
  --quaternary-dark-color: black;
  --quinary-dark-color: #747474;

  --primary-light-color: #e78185 ;
  --secondary-light-color: #d9d9d9;
  --tertiary-light-color: #ffef9a;
  --quaternary-light-color: white;
}

@font-face {
  font-family: 'Europa';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/Europa-Regular.eot), url(../fonts/Europa-Regular.svg),
  url(../fonts/Europa-Regular.ttf), url(../fonts/Europa-Regular.woff),
  url(../fonts/Europa-Regular.woff2);
}

@font-face {
  font-family: 'Europa';
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/Europa-Bold.eot), url(../fonts/Europa-Bold.svg),
  url(../fonts/Europa-Bold.ttf), url(../fonts/Europa-Bold.woff),
  url(../fonts/Europa-Bold.woff2);
}

body { 
  display: block;
  position: relative;
  min-height: 100vh; 
  font-family: 'Europa', Arial,sans-serif;
  font-size: 16px;
  font-weight: 400;
  margin: 0;

}

main {
  padding-bottom: 417px;
}

a {
  text-decoration: none;
}

main a {
  color: var(--primary-light-color);
}

main a:hover {
  color: var(--quinary-dark-color);
}

.content {
  background-color: inherit;
  margin: 0 auto;
  max-width: 90vw;
  padding: 30px 20px 70px;
  overflow: hidden;
}

.index h1 {
  font-size: 60px;
}

.index p {
  width: 75%;
  margin: 0 auto;
  line-height: 1.625em;
  font-size: 25px;
}
.bkground1 {
  background-color: var(--secondary-light-color);
}

.bkground2 {
  background-color: var(--quaternary-light-color);
  color: var(--quinary-dark-color);
}

.bkground3 {
  background: var(--primary-light-color);
  
}

.center {
  text-align: center;
}


.visionIndex p{
  font-size: 40px;
}

.youtubeContainer {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%; 
}

.youtubeContainer iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* Remove outline for non-keyboard :focus */
*:focus:not(.focus-visible) {
  outline: none;
}

/* Optional: Customize .focus-visible */
.focus-visible {
  outline-color: lightgreen;
}

.prgsIndex {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pgmCards {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  padding-bottom: 50px;
}

.pgmImg {
  height: 250px;
}

.pgmImg img{
  height: 250px;
  width: 250px;
  object-fit: cover;
  border-radius: 10px 10px 0 0;
}

.pgmText {
  padding: 15px 7px;
  font-size: 24px;
  background-color: var(--primary-dark-color);
  color: var(--quaternary-light-color);
  border: var(--primary-dark-color) solid 2px;
  border-radius: 0 0 10px 10px;
}

.scheduleTable {
  width: 90%;
  margin: 0 auto;
  border-collapse: collapse;
  border: 2px solid var(--secondary-dark-color);
}

.scheduleTable thead tr th, .scheduleTable tbody tr td {
  text-align: center;
  height: 50px;
  width: 150px;
  
}

.scheduleTable thead tr th {
  background-color: var(--secondary-dark-color);
  color: var(--quaternary-light-color);
}

.scheduleTable tbody tr td {
  vertical-align: middle;
  padding: 15px 10px;
  border-left: 2px solid var(--secondary-dark-color);
  border-right: 2px solid var(--secondary-dark-color);
}
.scheduleTable tbody tr td:first-child {
  border-left: none;
}

.scheduleTable tbody tr td:last-child {
  border-right: none;
}

.scheduleDataBr {
  padding-bottom: 10px;
}

/* MarkDown CSS */
.blog-post-container h1, .defaultH1, .mostRecent h1 {
  padding-bottom: 40px;
  font-size: 45px;
  border-bottom: 2px solid var(--secondary-light-color);
}

.blog-post {
  width: 85%;
}

.blog-post-content {
  margin: 0 auto;
}

.blog-post-content h1 {
  font-size: 40px;
  padding-bottom: 0;
  border-bottom: 0px;
}

.blog-post-content h2 {
  font-size: 30px;
}

/* Contact Page CSS */
.contact {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-start;
  padding-top: 40px;
}

.contactForm {
  width: 600px;
}

.googleMap {
  width: 600px;
  height: 600px;
  padding-top: 0;
}

@media only screen and (max-width: 1357px) {
  .contact {
    flex-direction: column;
    align-items: center;
  }

  .googleMap {
    padding-top: 40px;
  }
}
.contactForm .form-group {
  flex-direction: column;
  display: flex;
  padding-bottom: 20px;
}

button.btn-primary {
  width: 100%;
  background-color: var(--primary-dark-color);
  color: var(--quaternary-light-color);
  border: none;
  font-size: 20px;
  padding: 15px;
  cursor: pointer;
}

button.btn-primary:hover {
  background-color: var(--secondary-dark-color)
}

.form-group label {
  padding-bottom: 10px;
  font-size: 25px;
}

.form-group .form-control {
  font-size: 15px;
  background-color: var(--secondary-light-color);
  padding: 15px;
  border: none;
}

textarea.form-control {
  max-width: 470px;
}

/* Donation CSS */
.donationBoxes {
  border: 1px solid var(--secondary-dark-color);
  max-width: 550px;
}

.donationBoxes  ul{ 
  display: grid;
  grid-template-columns: auto auto;
  max-width: 500px;
  list-style: none;
}

.donateBox {
  max-width: 300px;
  padding: 20px;
  background-color: var(--secondary-dark-color);
  color: var(--quaternary-light-color);
  text-align: center;
  text-decoration: none;
  margin: 10px;

}

.donateBox:hover{
  background-color: var(--secondary-light-color);
  color: var(--quaternary-dark-color);
}

/* Contact Us Submission page */
.contactSubmission {
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.contactSubmission svg {
  width: 80px;
  height: 80px;
  color: var(--secondary-dark-color);
  padding-bottom: 20px;
}

.contactSubmission h1 {
  font-size: 40px;
}

.contactSubmission p {
  font-size: 20px;
}

/* News MD style */
.news-post h2{
  padding: 20px 0;
  font-style: italic;
  opacity: .8;
}

.news-post-content h2{
  padding: 20px 0;
  font-style: normal;
  opacity: 1;
}
.news-post-content {
  font-size: 18px
}

.mjSignature p span {
  margin-left: 0 !important;
}

/* News page */
.mostRecent, .newsArchive {
  display: flex;
  flex-direction: column;
  padding-bottom: 50px;
}

.mostRecent h2, .newsArchive h2 {
  font-size: 35px;
}

.mostRecent .title {
  font-size: 27px;
  margin: 0;
  opacity: .8;
}
.mostRecent .byline {
  display: flex;
  flex-direction: row;
  align-content: space-around;
  margin: 0;
  opacity: .8;
  padding-bottom: 25px;
}
.mostRecent .byline h3 {
  margin: 0;
}
.mostRecent .byline .date {
  padding-right: 10px;
}

.mostRecent .date {
  font-style: italic;
}

.mostRecent a {
  margin-top: 30px !important;
  width: 150px;
  margin: 0 10px 0 auto;
}