footer {
  background-color: var(--secondary-dark-color);
  position: absolute;
  bottom: 0;
  width: 100%;
  color: var(--quinary-dark-color);
  padding-top: 60px;
  height: 357px;
}

.Row {
  display: flex;
  flex-direction: row;
  align-content: space-around;
  justify-content: center;
  flex-wrap: nowrap;
  margin: 0 auto;
  padding: 0px 50px 70px;
  font-size: 14px;
  line-height: 23px;
}

.Section {
  width: 21.25%;
  margin-left: 5%;
  margin-bottom: 20px;
}

.Section h1 {
  text-transform: uppercase;
  font-size: 16px;
  font-weight: bold;
  padding-bottom: 15px;
  border-bottom: 1px solid var(--quinary-dark-color);
}

.Section span {
  padding-top: 10px;
  line-height: normal;
}

.SubsectionTitle {
  font-weight: bold;
  text-transform: uppercase;
  padding-bottom: 3px;
}


.SocialMedia svg {
  height: 25px;
  width: 25px;
  padding-right: 15px;
}
.Subsection a, .Copywrite a {
  color: var(--quinary-dark-color);
  text-decoration: none;
}
.Subsection a:hover, .CopywriteCenter a:hover{
  color: var(--tertiary-light-color);
}

.Copywrite {
  background-color: #1b1b1b;
  font-size: 12px;
  position: absolute;
  bottom: 0;
  width: 100%;
}
.CopywriteCenter {
  display: flex;
  padding: 15px 30px;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

@media only screen and (max-width: 850px) {
  .Row {
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
    padding-bottom: 20px;
  }

  .Section {
    width: 35%;
    margin: 0;
    padding: 10px 25px;
  }

  footer {
    padding-top: 20px;
    height: 490px;
  }
}

@media only screen and (max-width: 500px) {
  .Section {
    width: 100%;
  }
  .Row {
    padding-bottom: 0;
  }
  .CopywriteCenter {
    flex-direction: column;
  }
  footer {
    height: 725px;
  }
}
