header {
  background-color: var(--primary-dark-color);
  width: 100%;
  margin: 0;
}

header a, ul {
  color: white;
  text-decoration: none;
}
nav a:hover, nav ul li:hover {
  color: var(--tertiary-light-color);
}

nav {
  font-size: 18px;
}

nav ul{
  padding: 0;
  margin: 0;
  cursor: pointer;
  float: left;
}

nav ul li {
  float: left;
  list-style: none;
  position: relative;
}

nav ul li a {
  display: block;
  padding: 24px 12px;
}

nav ul li ul {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  background-color: var(--secondary-dark-color);
  transition-duration: 400ms;
  top: 81px;
  padding: 5px;
  border-radius: 0 0 5px 5px;
}

nav ul li ul li {
  color: var(--primary-dark-color);
  width: 200px;
}

nav ul li ul li a {
  padding: 8px 15px;
}
.nav_donate {
  display: flex;
  align-items: center;
  font-weight: bold;
}

.logoLink {
  display: flex;
  align-items: center;
}


.spacebetween {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.globalHeader {
  padding: 30px 30px;
  position: relative;
}

.logo img{
  height: 80px;
}

.logo span {
  padding-left: 10px;
  align-items: end;
  font-size: 48px;
  text-transform: uppercase;
}

.donateBtn {
  padding: 10px 25px;
  border: 1px solid var(--secondary-light-color);
  border-radius: 3px;
}
.donateBtn:hover {
  background-color: var(--secondary-light-color);
  color: var(--primary-dark-color);
}

.navLink {
  align-items: center;
  padding: 0 15px;
}

.hide {
  opacity: 0;
  visibility: hidden;
}

.show {
  opacity: 1;
  visibility: visible;
}