header {
  background-color: var(--primary-dark-color);
  width: 100%;
  max-height: 140px;
  margin: 0;

}

header a, ul {
  color: var(--quaternary-light-color);
  text-decoration: none;
}
.desktopNav a:hover, .desktopNav ul li:hover {
  color: var(--tertiary-light-color);
}

.desktopNav {
  font-size: 18px;
}

.desktopNav ul {
  padding: 0;
  margin: 0;
  float: left;
}

.desktopNav ul, .mobileNav ul{
  cursor: pointer;
}


.desktopNav ul a, .desktopNav ul div{
  float: left;
  list-style: none;
  position: relative;
}

.desktopNav ul div a, .desktopNav ul a {
  display: block;
}

.desktopNav ul div ul {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  background-color: var(--secondary-dark-color);
  transition-duration: 400ms;
  border-top: 59px solid var(--primary-dark-color);
  margin-top: 22px;
  border-radius: 0 0 5px 5px;
}

.desktopNav ul div:hover ul {
  opacity: 1;
  visibility: visible;
  z-index: 1;
}

.desktopNav ul div ul a li {
  width: 200px;
}

.desktopNav ul div ul a li {
  padding: 8px 15px;
}

.navLink {
  align-items: center;
  padding: 0 20px;
}

.nav_donate {
  display: flex;
  align-items: center;
  font-weight: bold;
}

.logoLink {
  display: flex;
  align-items: center;
}

.spacebetween {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.globalHeader {
  padding: 30px 30px;
  position: relative;
}

.logo img{
  height: 80px;
}

.logo span {
  padding-left: 10px;
  align-items: end;
  font-size: 48px;
  text-transform: uppercase;
}

.donateBtn {
  padding: 10px 25px;
  border: 1px solid var(--secondary-light-color);
  border-radius: 3px;
  z-index: 1;
}

.donateBtn:hover {
  background-color: var(--secondary-light-color);
  color: var(--primary-dark-color);
}

.hide {
  opacity: 0;
  visibility: hidden;
}

.show {
  opacity: 1;
  visibility: visible;
}

/* Mobile Menu */
.burgerMenu {
  display: none;
  align-items: center;
  padding-left: 20px;
}

.burgerMenu svg {
  height: 50px; 
  width: 50px;
  color: var(--quaternary-light-color);
  cursor: pointer;
}

.mobileNav {
  flex-direction: column;
  background-color: var(--primary-dark-color);
  font-size: 20px;
}

.mobileNav ul, .mobileNav ul div ul {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}
.mobileNav ul li, .mobileNav ul div ul li {
  border-top: 1px solid var(--primary-light-color);
}

.mobileNav ul div ul li:hover a {
  color: var(--quaternary-light-color);
}

.mobileNav ul li, .mobileNav ul li ul li {
  padding: 15px 0;
  width: 100%;
}

.mobileNav ul li:hover, .mobileNav ul li:active {
  background-color: var(--primary-light-color);
 
}

.mobileNav ul a:hover, .mobileNav ul a:active , .mobileNav ul div ul a:hover, .mobileNav ul div ul a:active {
  color: var(--quaternary-dark-color);
}

.hideMobileMenu {
  display: none;
  transition: height 2s ease-out;
}

.showMobileMenu {
  display: flex;
  transition: height 2s ease-in;
}

/* Responsive Menu */
@media only screen and (min-width: 1275px) {
  .mobileNav, .mobileNav ul {
    display: none;
  }
}

@media only screen and (max-width: 1274px) {
  .burgerMenu {
    display: flex;
  }
  .desktopNav, .nav_donate {
    display: none;
  }
  header {
    min-height: 140px;
    max-height: 580px;
  }
}

@media only screen and (max-width: 689px) {
  header a span {
    display: none;
  }
}